body{
  padding: 0;
  margin: 0;
}
.box{
  height: 200px;
  width: 200px;
  background-color: rgb(51, 155, 155);
}

.page1{
  height: 100vh;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page2{
  height: 100vh;
  background-color: rgb(16, 16, 16);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page3{
  height: 100vh;
  background-color: rgb(25, 24, 24);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}